body {
  text-align: center;
  background-color: #eef0f2;
}

button {
  display: block;
  margin: 2.5vh auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.radio-button-container {
  margin: 2vh auto;
  width: 20vw;
  height: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 2em;
}

.radio-button-default {
  background-color: #c6c7c4;
  border-bottom: 1px solid #353b3c;
}

.radio-button-highlight {
  background-color: #c6c7c4;
  border-bottom: 1px solid #846a6a;
}

.radio-button-label {
  width: 100%;
}