@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@400;600&display=swap');

body {
  text-align: center;
  font-family: 'Trispace', sans-serif;
}

input {
  font-family: 'Trispace', sans-serif;
}

button {
  display: block;
  margin: 4vh auto;
  padding: 1vh;
  font-family: 'Trispace', sans-serif;
  font-size: 2vmin;
  font-weight: 700;
  color: #f1faee;
  background-color: #e63946;
  border: none;
  border-radius: .5em;
  outline: none;
}

p, label {
  font-size: 2vmin;
}

main {
  height: 100vh;
}

.main-header {
  margin-top: 5vh;
  font-size: 4vmin;
  color: #1d3557;
  text-decoration: underline;
}

.section-container {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-card {
  width: 40%;
  height: 80%;
  padding: 0 2.5vw 0 2.5vw;
  display: flex;
  flex-direction: column;
  background-color: #f1faee;
  box-shadow: 5px 5px 7.5px #a8dadc;
  text-align: left;
}

.section-header {
  color: #1d3557;
  font-size: 3vmin;
}

.player-scores {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-form {
  width: 40%;
}

.radio-button-container {
  margin: 2vh auto;
  width: 30vmin;
  height: 2.5vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 2em;
}

.radio-button-default {
  background-color: #a8dadc;
  border-bottom: 1px solid #1d3557;
}

.radio-button-highlight {
  background-color: #457b9d;
  border-bottom: 1px solid #1d3557;
}

.radio-button-label {
  width: 100%;
}

.answer-display {
  font-size: 3vmin;
  font-style: italic;
}